@import "tailwindcss";
@font-face {
    font-family: a4;
    src: url(./assets/Fonts/a4.woff2);
}

@font-face {
    font-family: u4;
    src: url(./assets/Fonts/u4.woff2);
}

@font-face {
    font-family: u7;
    src: url(./assets/Fonts/u7.woff2);
}

@font-face {
    font-family: u8;
    src: url(./assets/Fonts/u8.woff2);
}

*{
    color: #ffffff;
}

span{
    display: inline-block;
    transform-origin: left top;
}